@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Pompiere&family=Roboto:ital,wght@0,100..900;1,100..900&family=RocknRoll+One&family=Squada+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 145px;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 145px;
    background-color: #004976;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.8);
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 45px;
    width: 100%;
}

.logo {
    width: 164px;
    height: auto;
    margin-left: 90px;
    margin-top: 10px;
    padding: 4px;
    max-height: 98px;
}


.menu {
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: baseline;
    color: white;
    font-size: 24px;
    font-family: 'Google Sans Flex';
    padding: 68px 45px 0px 45px;
}

.menu li:hover {
    text-decoration: underline;
    color: white;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    cursor: pointer;
}

.breadcrumbs {
    position: absolute;
    top: 150px;
    left: 145px;
    z-index: 10;
    padding: 10px 15px;
    font-size: 18px;
    font-family: 'Google Sans Flex';
    color: white;
}

.breadcrumbs a {
    color: white;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
    color: rgb(240, 237, 237)
}

.breadcrumbs :not(:last-child)::after {
    content: " / ";
    margin-left: 5px;
    color: white;
}

.conteudo-principal {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.andar-topo {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 768px;
    background-color: #f0ecde;
}

#main-image {
    width: 50%;
    height: auto;
    min-height: 768px;
    object-fit: cover;
    flex-shrink: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 50px 180px 70px 80px;
    width: 50%;
    flex-shrink: 0;
}

.title-subtitle {
    margin-bottom: 40px;
}

.recipe-name {
    font-family: 'Google Sans Flex';
    color: #004976;
    font-size: 75px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.descrition-recipe {
    font-family: 'Roboto',sans-serif;
    color: #004976;
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 1.4;;
}

.whooper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 20px;
    justify-content: space-between;
}

.whooper img {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
}

.texto {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: 'Google Sans Flex';
    color: #004976;
}

.tempo {
    font-family: 'Pompiere';
    color: #004976;
    font-size: 25px;
    font-weight: normal;
}

.porcoes, .tempo-de-cozimento, .tempo-de-preparo, .pronto-em {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.andar-baixo {
    background-color: white;
    padding: 70px 0px;
    line-height:24px;
    display: flex;
}

#max-width{
    margin:0px 222px;
    display: flex;
    justify-content: space-between;
    gap: 9.0rem;
    width: 100%;
}

.ingredients {
    color: #004976;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}


.the-title {
    font-family: 'Google Sans Flex';
    font-size: 40px;
    margin-bottom: 2.0rem;
}

.ingredients-list {
}

.ingredients-list p{
    font-family: 'Google Sans Flex';
    font-size: 1.3rem;
    color: #004976;
    line-height: 3.5rem;
}

.preparation {
    color: #004976;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    font-weight: 400;


}

.preparation-steps {
    list-style: none;
    padding: 0;
}

.preparation-steps li{
    list-style: none;
    font-family: 'Google Sans Flex';
    font-size: 1.3rem;
    color: #004976;
    line-height: 3.0rem;

    display: flex;
    align-items: flex-start;
    margin-bottom: 4.0rem;
    gap: 15px;
}

.step-number {
    font-family: 'Google Sans Flex';
    font-size: 50px;
    font-weight: bold;
    color: #004976;
    min-width: 40px; 
    margin-right: 25px;
}
footer {
    background-color: #004976;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Google Sans Flex';

}


@media (max-width: 800px) {
    #main-image {
        display: none;
        visibility: hidden;
    }
}