    header {
    background-color: rgb(0, 76, 153);
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    font-size: 28px;
    box-shadow: 0px 0px 5px 5px;
    box-sizing: border-box;
}

    nav ul {
        text-align: center;
        padding-left: 0px;
}

    .main-image {
    max-width: 50%;
    height: auto;
    padding: 0%;
    margin: 0%;
}
    
    body {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 232, 208);
}

    div #page{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: left;

}

    section #about{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; 
    text-align: left;
}

    li {
    list-style-type: none;
    display: inline;
    padding-left: 0px 20px;
}

    ul #ingredientes {
    list-style-type: none;
    padding-left: 20px;
}



