@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=RocknRoll+One&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Squada+One&display=swap');


    
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 232, 208);
}

    header {
    position:relative;
    background-color: #004c99;
    box-shadow: 0px 0px 5px 5px rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    font-size: 28px;  
    box-sizing: border-box;
    height: 143px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
}


    
    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 150%;
}

    #navbar {
    display: flex;
    align-items: center;
}
    

    #logo {
    width: 138px;
    height: 72px;
    margin: 19px 0px 0px 129px;
}



 #cabeçalho-menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
    .conteudo-principal {
    
    display: block;
    flex-direction: row;
    min-height: calc(100vh - 60px);
}
    #about h1 {
        font-family: "Squada One", sans-serif;
        font-size: 50px;
        padding: 50px 0px;
    }
    #about p , h2, p{
        font-family: "Google Sans Flex", sans-serif;
        font-size: 20px;
        line-height: 1.6;
        padding-bottom: 100px;
    }

    .preparacao-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    justify-items: center;
    padding: 20px;
    }
    
    #relogio {
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 40px;
    }

    #atributos-de-preparacao-agrupados{
        display: grid;
        grid-template-columns: repeat(4, auto);
        gap: 40px;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: "squada one", sans-serif;
        font-size: 28px;

    }


    #relogio img, 
    #atributos-de-preparacao-agrupados li {
    width: 150px; /* Mesma largura para alinhar */
    }


#cabeçalho-menu li {
    padding: 10px 15px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    }

#cabeçalho-menu li:hover {
    color: #ffffff;
    text-underline-offset: #fff;
    text-decoration: underline;  
    }

    #andar-topo {
        display: flex;
    }
    /*#andar-baixo {
        display: flex;
        margin-bottom: 20px;
        background-color: rgb(255, 255, 255);
}*/

    .main-image {
    object-fit: cover;
    max-width: 50%;
    padding: 0%;
    margin: 0%;
    min-height: calc(100vh - 99px);
}
    

    #page{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: left;

}

    section #about{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; 
    text-align: left;
}

   /* li {
    list-style-type: none;
    display: inline;
    padding-left: 0px 20px;
}

    .ingredientes {
    padding-left: 20px;
    margin: 20px 20px 20px 0px;
    
}

    ul.lista-ingredientes ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

footer {
    margin-top: 30px;
    font-size: 12px;
    color: #666;
    text-align: center;
}
