@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=RocknRoll+One&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Squada+One&display=swap');


    
    * {

    }

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        /* position: fixed; */
        inset: 0;
        height: 138px;
        width: 100%;
        background-color: #004679;
    }

    .logo {
    }

    .navbar {
    
    }

    .menu {
        display: flex;
        justify-content: space-evenly;

    }

    .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .breadcrumbs {

    }

    .andar-topo {

    }
    
    .page{

    }

    .principal-content{

    }

    #main-image {
        max-width: 50%;
        height: auto;
        margin: 0%;
        padding: 0%;
    }

    .recipe-name {

    }

    .description-recipe {

    }

    .imagem {

    }

    .porcoes {

    }

    .tempo-de-preparo {

    }

    .tempo-de.cozimento {

    }

    .pronto-em {

    }

    .andar-baixo {

    }

    .ingredients {

    
    }


    .title {

    }

    .ingredient-list {

    }

    .preparation {

    }

    .preparation-list {

    }

    .preparation-steps {

    }

    .footer {

    }
