@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=RocknRoll+One&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Squada+One&display=swap');


    
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    display: flex;
    flex-direction: column;
    background-color: #fdf6e8;
}

    header {
    position:relative;
    background-color: #004976;
    box-shadow: 0px 0px 5px 5px rgb(39, 39, 39, 0.2);
    color: rgb(255, 255, 255);
    font-size: 28px;  
    box-sizing: border-box;
    height: 143px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 50px;
}