@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=RocknRoll+One&family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=Squada+One&display=swap');


    
    * {

    }

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        position: fixed;
        inset: 0;
        height: 114px;
        width: 100%;
        background-color: #004679;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: black 0px 0px 10px 10px;
        z-index: 1;
    }

    
    .navbar {
        height: 114px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding-bottom: 45px;
    }
    
    .logo {
        height: 72px;
        width: 138px;
        margin-left: 20px;
        padding: 4px;
    }
    .menu {
        display: flex;
        list-style: none;
        gap: 60px;
        align-items: last baseline;
        color: white;
        font-size: 24px;
    }

    .conteudo-principal {
        display: flex;
        flex-direction: column;
    }

    .breadcrumbs {
        position: absolute;
        top: 114px;
        left: 0;
        width: 100%;
        padding: 20px;
        color: white;
        display: flex;
        gap: 10px;
        text-decoration: none;
    }

    .andar-topo {

    }
    
    .page{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .principal-content{
        display: flex;
        flex-direction: column;
    }

    #main-image {
        display: flex;
        flex-direction: column;
        height: 889px;
        width: 50%;
    }

    .recipe-name {

    }

    .description-recipe {

    }

    .imagem {

    }

    .porcoes {

    }

    .tempo-de-preparo {

    }

    .tempo-de.cozimento {

    }

    .pronto-em {

    }

    .andar-baixo {

    }

    .ingredients {

    
    }


    .title {

    }

    .ingredient-list {

    }

    .preparation {

    }

    .preparation-list {

    }

    .preparation-steps {

    }

    .footer {

    }
