    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 232, 208);
}

    header {
    position:relative;
    background-color: rgb(0, 76, 153);
    color: rgb(255, 255, 255);
    padding: 0px 10px;
    font-size: 28px;  
    box-shadow: 0px 0px 5px 5px rgb(39, 39, 39);
    box-sizing: border-box;
}



nav ul {
    text-align: center;
    padding-left: 0px;
    font-family: arial-label, sans-serif;
}

    .conteudo-principal {
    display: block;
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 60px);
}

    #andar-topo {
        display: flex;
}
    #andar-baixo {
        display: flex;
        margin-bottom: 20px;
}

    .main-image {
    max-width: 50%;
    height: auto;
    padding: 0%;
    margin: 0%;
}
    

    #page{
    margin: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: left;

}

    section #about{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; 
    text-align: left;
}

    li {
    list-style-type: none;
    display: inline;
    padding-left: 0px 20px;
}

    .ingredientes {
    padding-left: 20px;
    margin: 20px 20px 20px 0px;
    
}

    ul.lista-ingredientes ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

footer {
    margin-top: 30px;
    font-size: 12px;
    color: #666;
    text-align: center;
}



